@charset "utf-8";
/* CSS Document */
a{
	color: green;
	text-decoration: none;
}

a:hover{
	color: red;
	text-decoration: underline;
}

body{
	background-color: #FFCC66;
}

h2{
	font-family: Verdana;
	color: #6666FF;
}
p {
	font-family: Comic;
}
