* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 100%;
  height: 100vh;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  background-image: url(../assets/bg1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
}
h2 {
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
  margin-bottom: 1rem;
  text-align: center;
}
h3 {
  font-size: 1.5rem;
  font-weight: 700;
  color: #fff;
  margin-bottom: 1rem;
  text-align: center;
}
img {
  margin: 2px 3px;
}

img:hover {
  /* transform: scale(1.1);
  transition: 0.5s; */
  animation: loading-cube 0.5s ease-in-out alternate;
}

@keyframes loading-cube {
  0% {
    transform: translateZ(-800px) rotateX(-19deg) rotateY(0deg);
  }
  100% {
    transform: translateZ(-800px) rotateX(-19deg) rotateY(360deg);
  }
}
